.courses{
    background-color: rgba(97, 96, 96, 0.849);
    color: white;
}
.coursenav ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.cnav li{
    display: inline;
}
.cnav li a{
    color: white;
    text-decoration: none;
    padding: 10px 10px 5px 0px;
}
.cnav #active{
    border-bottom: 5px solid rgb(252, 250, 250);
}
.cnav .notactive:hover{
    border-bottom: 5px solid rgb(253, 252, 252);
}