.logopart img{
    height: 8vh;
}
.navpart{
    background-color: rgb(123, 157, 201);
}
.menubar{
    color:white;
    background-color: rgb(52, 52, 53);
    height: auto;
    width: 40vw;
}
#toggle{
    cursor: pointer;
}
.row{
    display: flex;
    align-items: center;
    border-top:none;
}
.menuitem{
    border-bottom: 1px solid white;
}
#user{
    height: 8vh;
}